@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap%27');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  background: #fff;
  height: 100%;
}

.perguntas{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60vh;
}

.perguntas header{
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

header h1{
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 61px;
color: #000000;
}

header span{
  color: #982cdb;
  font-weight: 600;
  font-size: 2.5rem;
  background-image: linear-gradient(
      -225deg,
          #FD51E3 0%,
          #6F51FA 29%,
          #FD51E3 100%
  );
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
      background-position: 200% center;
  }
}

header h2{
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 39px;
color: #000000;
}

#accordion{
  width: 600px;
  margin: 1rem 0rem;
  padding-top: 15px;
}

#accordion li{
  width: 100%;
  margin-bottom: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 16px;
  border: 1.5px solid #982CDB;
  filter: drop-shadow(2px 2px 4px #000);
}

#accordion li label{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #000;
}
#accordion li label span{
  font-size: 22px;
  color: #252525;
}

#accordion label + input[type="radio"]{
  display: none;
}

#accordion .content{
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#accordion label + input[type="radio"]:checked + .content{
  max-height: 400px;
}

.btn{
  width: 16rem;
  height: 3rem;
  background: linear-gradient(96.49deg, #6f51fa -16.95%, #fd51e3 126.18%);
  border-radius: 65px 85px;
  border: none;
  word-spacing: 3px;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  color: #fff;
  transition: 0.6s;
}

.btn:hover {
  transform: translateY(-6px);
  border-radius: 85px 65px;
}

 .contato{
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  bottom: 30vh;
} 

.contato header{
  width: 100%;
  height: 6rem;
  display: flex;
  text-align: center;
  flex-direction: column;
}

header h1{
font-weight: 600;
font-size: 42px;
line-height: 51px;
}

header h2{
font-weight: 400;
font-size: 28px;
line-height: 34px;
}

.right {
  position: relative;
  top: 0;
  right: 10vw;
  width: 35vw;
  height: 80%;
}

form{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

::placeholder{
  font-weight: 400;
  font-size: 20px;
  color: #2C4031;
}

.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #982cdb ;
  margin: 30px 0;
}

.input-box label{
  position: absolute;
  color: #162938;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1.2rem;
  font-weight: 550;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
  top: -5px;
}

.input-box input,
textarea{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 0 35px 0 5px;
  color: #12232f;
}

textarea{
  margin-top: 1rem;
  border: 1px solid #982cdb;
  height: 10rem;
  border-radius: 8px;
}

.input-box .icon-contato{
  position: absolute;
  right: 8px;
  font-size: 1.2rem;
  line-height: 57px;
  color: #12232f;
}

.btn-contato{
  margin-top: 2rem;
  border-radius: 12px;
  background-color: transparent;
  border: 2px solid #982cdb;
  width: 12rem;
  height: 4rem;
  font-weight: 700;
  cursor: pointer;
  transition: .5s;
}

.btn-contato:hover{
  transform: translateY(-3px);
  border-radius: 24px;
}

.left{
  position: relative;
  top: 0;
  right: 0;
  left: 10vw;
  width: 35vw;
  height: 80%;
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
}

.contato1, .contato2, .contato3{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.contato1 h1, .contato2 h1, .contato3 h1{
font-weight: 500;
font-size: 32px;
line-height: 39px;
}

.contato1 h2, .contato2 h2, .contato3 h2{
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  }

.contato .icon{
  font-size: 2.5rem;
  color: #982cdb;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

footer{
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
}

footer p{
font-weight: 400;
font-size: 1rem;
line-height: 32px;
color:#C639D2;
}

.footer-info{
  width: 70%;
  height: 100%;
  border-top: 1px solid #982cdb;
  border-bottom: 1px solid #982cdb;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr; 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.opcoes, .servicos, .pagamentos{
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: space-evenly;
  flex-direction: column;
}

.opcoes h1, .servicos h1, .pagamentos h1{
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  color:#C639D2;
}

.opcoes h2, .servicos h2{
  font-weight: 400;
  font-size: 1rem;
  line-height: 32px;
}

.sub{
  height: 8rem;
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
}

#inicio, #planos, #doar, #associados, #desenvolvimento, #marketing, #design, #pagamentos{
  cursor: pointer;
  transition: .6s;
}

#inicio:hover, #planos:hover, #doar:hover, #associados:hover, #desenvolvimento:hover, #marketing:hover, #design:hover, #pagamentos:hover{
  transform: translateX(8px);
}

.social{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.social .icon2{
  font-size: 2.4rem;
  color: #982cdb;
}

#facebook, #twitter, #instagram{
  cursor: pointer;
  transition: .5s;
}

#facebook:hover, #twitter:hover, #instagram:hover{
  transform: translateY(-3px);
}